JWT_SECRET=
OIDC_PROJECT_ID=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
# Optional overrides:
# OIDC_ISSUER_URL=http://localhost:8080
# OIDC_REDIRECT_URI=http://localhost:5150/api/auth/oidc/callback
# MAILER_HOST=localhost
