{% extends "base.html" %}

{% block title %}
Edit movie: {{ item.id }}
{% endblock title %}

{% block page_title %}
Edit movie: {{ item.id }}
{% endblock page_title %}

{% block content %}
<form action="/movies/{{ item.id }}" method="post">
    <label for="title">Title</label>
    <input id="title" name="title" type="text" value="{{item.title}}" />
    <button type="submit">Submit</button>
    <button data-variant="danger"
            data-delete-url="/movies/{{ item.id }}"
            data-delete-redirect="/movies">Delete</button>
</form>
<br />
<a href="/movies">Back to movies</a>
{% endblock content %}

{% block js %}

{% endblock js %}
